<a href="https://colab.research.google.com/github/ReefAmarin/HTU-DS-2021/blob/main/Reef_Amarin_Assignment3_August2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>DS Assignment</center></h1>

<h3><center>Due Date: Tuesday, August 3rd, 2021</center></h3> 

**Instructions:**
This is not a team work, each student should solve this assinment alone. Make a copy of this Notebook and name it:

*firstName_LastName_Assignment3_August2*

and then share it with me (email is preferred).

## Question 1:

**In train-test data split, are the splits always the same? If not, how can we make sure our splits are the same?**

*Answer:*
if we talk about different dataset , it will not be the same , it can be done by calling the same train_test_split function for all with same sample size and random state seed (i'm not sure about my answer)

## Question 2:

**How do you check for missing values in a pandas dataframe?**

*Answer:*
# dataframename.loc[dataframename[column_name].isna()]

## Question 3:

**In df0 below, when we try to find the mean value of the column 'Salary', we get Inf. Why is that? and how can we fix it to get the correct numerical value?**
#because it was converted to string  //added by Reef amarin
*Answer:*
For this question, you need to show your work in code & in writing

In [48]:
import pandas as pd
import numpy as np
import random
N = 200
data = [str(random.randint(29,140)*1000) for i in range(N)]
df0 = pd.DataFrame(data = data,columns = ['Salary'])
df0
#added by Reef amarin before editing
df0['Salary'].mean()
df0
# added by Reef amarin remove the str function
castedData = [random.randint(29,140)*1000 for i in range(N)]
New_df= pd.DataFrame(data= castedData,columns = ['Salary'])
New_df
New_df['Salary'].mean()

90410.0

## Qustion 4: 

**In df1 below, there are 10 rows with no values. Use SimpleImputer from Sklearn to fill in these missing values with the mean value of the column.**

*Answer:*
For this question, you need to show your work in code & in writing

In [8]:
data = [str(random.randint(29,140)*1000) for i in range(N)]
df1 = pd.DataFrame(data = data,columns = ['Salary'])
indices = [random.randint(0,df0.shape[0]) for i in range(10)]
df1

     Salary
0    137000
1     88000
2     76000
3     98000
4     69000
..      ...
195   56000
196  114000
197   82000
198   79000
199   84000

[200 rows x 1 columns]

In [105]:
x_factor =df1.iloc[:,0].values
x_factor
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
imputerObj= SimpleImputer(missing_values =np.nan, strategy='mean')
x_factor.shape
TransformedT=x_factor.reshape(10,20)
TransformedT.shape
TransformedT
imputerObj.fit(TransformedT[:,1:20])
TransformedT[:,1:20]=imputerObj.fit_transform(TransformedT[:,1:20])
TransformedT

array([[137000.0, 88000.0, 76000.0, 98000.0, 69000.0, 66000.0, 114000.0,
        92000.0, 69000.0, 30000.0, 45000.0, 32000.0, 122000.0, 124000.0,
        118000.0, 80000.0, 52000.0, 119000.0, 137000.0, 73000.0],
       [77000.0, 68000.0, 135000.0, 39000.0, 103000.0, 64000.0, 107000.0,
        33000.0, 34000.0, 106000.0, 106000.0, 82000.0, 73000.0, 58000.0,
        136000.0, 125000.0, 30000.0, 113000.0, 121000.0, 129000.0],
       [97000.0, 31000.0, 92000.0, 137000.0, 121000.0, 51000.0, 74000.0,
        73000.0, 49000.0, 109000.0, 102000.0, 118000.0, 92000.0, 64000.0,
        44000.0, 127000.0, 71000.0, 61000.0, 38000.0, 50000.0],
       [84000.0, 109000.0, 70000.0, 110000.0, 89000.0, 87000.0, 95000.0,
        115000.0, 77000.0, 37000.0, 103000.0, 74000.0, 36000.0, 120000.0,
        119000.0, 50000.0, 101000.0, 33000.0, 87000.0, 35000.0],
       [39000.0, 96000.0, 79000.0, 90000.0, 131000.0, 77000.0, 129000.0,
        85000.0, 97000.0, 49000.0, 86000.0, 88000.0, 86000.0, 123000.0,
        83000.0, 56000.0, 58000.0, 78000.0, 72000.0, 139000.0],
       [137000.0, 94000.0, 39000.0, 35000.0, 98000.0, 31000.0, 66000.0,
        57000.0, 126000.0, 30000.0, 89000.0, 139000.0, 136000.0, 65000.0,
        63000.0, 84000.0, 55000.0, 112000.0, 93000.0, 113000.0],
       [87000.0, 88000.0, 65000.0, 74000.0, 47000.0, 38000.0, 117000.0,
        92000.0, 52000.0, 139000.0, 90000.0, 115000.0, 126000.0, 44000.0,
        137000.0, 102000.0, 101000.0, 124000.0, 137000.0, 57000.0],
       [82000.0, 60000.0, 118000.0, 89000.0, 110000.0, 51000.0, 138000.0,
        115000.0, 101000.0, 39000.0, 75000.0, 76000.0, 33000.0, 130000.0,
        118000.0, 135000.0, 134000.0, 35000.0, 77000.0, 58000.0],
       [50000.0, 92000.0, 128000.0, 128000.0, 117000.0, 39000.0, 83000.0,
        87000.0, 120000.0, 77000.0, 55000.0, 128000.0, 139000.0, 88000.0,
        108000.0, 42000.0, 85000.0, 118000.0, 104000.0, 72000.0],
       [124000.0, 65000.0, 124000.0, 111000.0, 137000.0, 37000.0,
        66000.0, 111000.0, 45000.0, 51000.0, 110000.0, 31000.0, 112000.0,
        68000.0, 115000.0, 56000.0, 114000.0, 82000.0, 79000.0, 84000.0]],
      dtype=object)