<a href="https://colab.research.google.com/github/ReefAmarin/HTU-DS-2021/blob/main/W6_TimeSerisIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Presented by** : [Mohammad Abualhoul](https://www.linkedin.com/in/m-yakub/)

Pandas was developed in the context of financial modeling, so as you might expect, it contains a fairly extensive set of tools for working with dates, times, and time-indexed data.
Date and time data comes in a few flavors, which we will discuss here:

- *Time stamps* reference particular moments in time (e.g., July 4th, 2015 at 7:00am).
- *Time intervals* and *periods* reference a length of time between a particular beginning and end point; for example, the year 2015. Periods usually reference a special case of time intervals in which each interval is of uniform length and does not overlap (e.g., 24 hour-long periods comprising days).
- *Time deltas* or *durations* reference an exact length of time (e.g., a duration of 22.56 seconds).

In this section, we will introduce how to work with each of these types of date/time data in Pandas.
**This short section is by no means a complete guide to the time series tools available in Python or Pandas, but instead is intended as a broad overview of how you as a user should approach working with time series**.
We will start with a brief discussion of tools for dealing with dates and times in Python and commandLines, before moving more specifically to a discussion of the tools provided by Pandas.
After listing some resources that go into more depth, we will review some short examples of working with time series data in Pandas.

## Dates and Times in Python

In [ ]:
!date

Sun Aug  1 14:04:06 UTC 2021

In [ ]:
!hwclock

## Native Python dates and times: datetime and dateutil

In [ ]:
from dateutil import parser

In [ ]:
Date= parser.parse('6th of july 2012')
Date

datetime.datetime(2012, 7, 6, 0, 0)

In [ ]:
Date.strftime('%A')

'Friday'

In [ ]:
Date.isoweekday()

5

In [ ]:
Date.timetuple()

time.struct_time(tm_year=2012, tm_mon=7, tm_mday=6, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=188, tm_isdst=-1)

In [ ]:
Date.day

6

In [ ]:
Date.month

7

In [ ]:
Date.year

2012

## Typed arrays of times: NumPy's datetime64

In [ ]:
from datetime import *

In [ ]:
Mydate= datetime(year=2020, month=12, day=5)
Mydate

datetime.datetime(2020, 12, 5, 0, 0)

In [ ]:
import numpy as np

In [ ]:
Mydate = np.array('2012-12-01 12:12',dtype=np.datetime64)
Mydate

array('2012-12-01T12:12', dtype='datetime64[m]')

In [ ]:
Mydata = np.datetime64('2012-01-01 12:00')
Mydate

array('2012-12-01T12:12', dtype='datetime64[m]')

In [ ]:
Mydata + 1

numpy.datetime64('2012-01-01T12:01')

In [ ]:
Mydata = np.datetime64('2012-01-01 12:00', 'ms')
Mydata

numpy.datetime64('2012-01-01T12:00:00.000')

In [ ]:
Mydata = np.arange('2018-02', '2019-01', dtype=np.datetime64)
Mydata

array(['2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12'],
      dtype='datetime64[M]')

In [ ]:
np.datetime64('2005-01')== np.datetime64('2005')

True

|Code    | Meaning     | Time span (relative) | Time span (absolute)   |
|--------|-------------|----------------------|------------------------|
| ``Y``  | Year	       | ± 9.2e18 years       | [9.2e18 BC, 9.2e18 AD] |
| ``M``  | Month       | ± 7.6e17 years       | [7.6e17 BC, 7.6e17 AD] |
| ``W``  | Week	       | ± 1.7e17 years       | [1.7e17 BC, 1.7e17 AD] |
| ``D``  | Day         | ± 2.5e16 years       | [2.5e16 BC, 2.5e16 AD] |
| ``h``  | Hour        | ± 1.0e15 years       | [1.0e15 BC, 1.0e15 AD] |
| ``m``  | Minute      | ± 1.7e13 years       | [1.7e13 BC, 1.7e13 AD] |
| ``s``  | Second      | ± 2.9e12 years       | [ 2.9e9 BC, 2.9e9 AD]  |
| ``ms`` | Millisecond | ± 2.9e9 years        | [ 2.9e6 BC, 2.9e6 AD]  |
| ``us`` | Microsecond | ± 2.9e6 years        | [290301 BC, 294241 AD] |
| ``ns`` | Nanosecond  | ± 292 years          | [ 1678 AD, 2262 AD]    |
| ``ps`` | Picosecond  | ± 106 days           | [ 1969 AD, 1970 AD]    |
| ``fs`` | Femtosecond | ± 2.6 hours          | [ 1969 AD, 1970 AD]    |
| ``as`` | Attosecond  | ± 9.2 seconds        | [ 1969 AD, 1970 AD]    |

##Datetime and Timedelta Arithmetic

In [ ]:
np.timedelta64(11,'D')

numpy.timedelta64(11,'D')

In [ ]:
np.datetime64('2009-01-01') - np.datetime64('2008-01-01 12')

numpy.timedelta64(8772,'h')

In [ ]:
np.timedelta64('2009') + 5

numpy.timedelta64(2014)

In [ ]:
np.datetime64('2009') + np.timedelta64(20, 'Y')

numpy.datetime64('2029')

In [ ]:
np.timedelta64(2,'Y')

In [ ]:
np.timedelta64(1,'Y')/np.timedelta64(1,'M')

12.0


-----------------
<p><img alt="Colaboratory logo" height="30px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

**Hands-on - 10m:**

1. Find how many day we count from **2009-01-01** to **2008-09-24**
2. Can we index the number of days
3. Why the following returns Error


```
a = np.timedelta64(1, 'Y')
-np.timedelta64(a, 'D') # Why you have error here!
-np.timedelta64(1,'M') / np.timedelta64(1,'D') # Why you have error here!
```

## Dates and times in pandas: best of both worlds

In [ ]:
MyData = np.arange('2018-02','2019-01', dtype=np.datetime64)

MyData

array(['2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12'],
      dtype='datetime64[M]')

In [ ]:
DD =np.arange('2018-02','2019-01', dtype='datetime64[s]')
len(DD)

28857600

In [ ]:
a = np.datetime64('2009-01-01')
b = np.datetime64('2008-07-24')
A=np.arange(b, a, dtype='datetime64[D]')
A

array(['2008-07-24', '2008-07-25', '2008-07-26', '2008-07-27',
       '2008-07-28', '2008-07-29', '2008-07-30', '2008-07-31',
       '2008-08-01', '2008-08-02', '2008-08-03', '2008-08-04',
       '2008-08-05', '2008-08-06', '2008-08-07', '2008-08-08',
       '2008-08-09', '2008-08-10', '2008-08-11', '2008-08-12',
       '2008-08-13', '2008-08-14', '2008-08-15', '2008-08-16',
       '2008-08-17', '2008-08-18', '2008-08-19', '2008-08-20',
       '2008-08-21', '2008-08-22', '2008-08-23', '2008-08-24',
       '2008-08-25', '2008-08-26', '2008-08-27', '2008-08-28',
       '2008-08-29', '2008-08-30', '2008-08-31', '2008-09-01',
       '2008-09-02', '2008-09-03', '2008-09-04', '2008-09-05',
       '2008-09-06', '2008-09-07', '2008-09-08', '2008-09-09',
       '2008-09-10', '2008-09-11', '2008-09-12', '2008-09-13',
       '2008-09-14', '2008-09-15', '2008-09-16', '2008-09-17',
       '2008-09-18', '2008-09-19', '2008-09-20', '2008-09-21',
       '2008-09-22', '2008-09-23', '2008-09-24', '2008-09-25',
       '2008-09-26', '2008-09-27', '2008-09-28', '2008-09-29',
       '2008-09-30', '2008-10-01', '2008-10-02', '2008-10-03',
       '2008-10-04', '2008-10-05', '2008-10-06', '2008-10-07',
       '2008-10-08', '2008-10-09', '2008-10-10', '2008-10-11',
       '2008-10-12', '2008-10-13', '2008-10-14', '2008-10-15',
       '2008-10-16', '2008-10-17', '2008-10-18', '2008-10-19',
       '2008-10-20', '2008-10-21', '2008-10-22', '2008-10-23',
       '2008-10-24', '2008-10-25', '2008-10-26', '2008-10-27',
       '2008-10-28', '2008-10-29', '2008-10-30', '2008-10-31',
       '2008-11-01', '2008-11-02', '2008-11-03', '2008-11-04',
       '2008-11-05', '2008-11-06', '2008-11-07', '2008-11-08',
       '2008-11-09', '2008-11-10', '2008-11-11', '2008-11-12',
       '2008-11-13', '2008-11-14', '2008-11-15', '2008-11-16',
       '2008-11-17', '2008-11-18', '2008-11-19', '2008-11-20',
       '2008-11-21', '2008-11-22', '2008-11-23', '2008-11-24',
       '2008-11-25', '2008-11-26', '2008-11-27', '2008-11-28',
       '2008-11-29', '2008-11-30', '2008-12-01', '2008-12-02',
       '2008-12-03', '2008-12-04', '2008-12-05', '2008-12-06',
       '2008-12-07', '2008-12-08', '2008-12-09', '2008-12-10',
       '2008-12-11', '2008-12-12', '2008-12-13', '2008-12-14',
       '2008-12-15', '2008-12-16', '2008-12-17', '2008-12-18',
       '2008-12-19', '2008-12-20', '2008-12-21', '2008-12-22',
       '2008-12-23', '2008-12-24', '2008-12-25', '2008-12-26',
       '2008-12-27', '2008-12-28', '2008-12-29', '2008-12-30',
       '2008-12-31'], dtype='datetime64[D]')

In [ ]:
len(A)

161

## Pandas Time Series: Indexing by Time

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Mydata = pd.to_datetime('4th of July, 2020')
Mydata

Timestamp('2020-07-04 00:00:00')

In [ ]:
type(Mydata)

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
Mydata.strftime('%A')

'Saturday'

In [ ]:
np.datetime64('2011-11') + 10

numpy.datetime64('2012-09')

In [ ]:
Mydata

Timestamp('2020-07-04 00:00:00')

In [ ]:
Mydata + pd.to_timedelta(np.arange(10))

DatetimeIndex([          '2020-07-04 00:00:00',
               '2020-07-04 00:00:00.000000001',
               '2020-07-04 00:00:00.000000002',
               '2020-07-04 00:00:00.000000003',
               '2020-07-04 00:00:00.000000004',
               '2020-07-04 00:00:00.000000005',
               '2020-07-04 00:00:00.000000006',
               '2020-07-04 00:00:00.000000007',
               '2020-07-04 00:00:00.000000008',
               '2020-07-04 00:00:00.000000009'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
Mydata + pd.to_timedelta(np.arange(10), 's')

DatetimeIndex(['2020-07-04 00:00:00', '2020-07-04 00:00:01',
               '2020-07-04 00:00:02', '2020-07-04 00:00:03',
               '2020-07-04 00:00:04', '2020-07-04 00:00:05',
               '2020-07-04 00:00:06', '2020-07-04 00:00:07',
               '2020-07-04 00:00:08', '2020-07-04 00:00:09'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
pd.timedelta_range(start='12 day', end='15 day', periods=10)

TimedeltaIndex(['12 days 00:00:00', '12 days 08:00:00', '12 days 16:00:00',
                '13 days 00:00:00', '13 days 08:00:00', '13 days 16:00:00',
                '14 days 00:00:00', '14 days 08:00:00', '14 days 16:00:00',
                '15 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

## Pandas Time Series Data Structures

This section will introduce the fundamental Pandas data structures for working with time series data:

- For ***time stamps***, Pandas provides the ``Timestamp`` type. As mentioned before, it is essentially a replacement for Python's native ``datetime``, but is based on the more efficient ``numpy.datetime64`` data type. **The associated Index structure is ``DatetimeIndex``.**
- For ***time Periods***, Pandas provides the ``Period`` type. This encodes a fixed-frequency interval based on ``numpy.datetime64``. **The associated index structure is ``PeriodIndex``.**
- For ***time deltas*** or *durations*, Pandas provides the ``Timedelta`` type. ``Timedelta`` is a more efficient replacement for Python's native ``datetime.timedelta`` type, and is based on ``numpy.timedelta64``. **The associated index structure is ``TimedeltaIndex``.**

In [ ]:
Myindex = pd.DatetimeIndex(['2012-12-12', '2012-10-10', '2017-10-10'])

In [ ]:
Myindex

DatetimeIndex(['2012-12-12', '2013-10-10', '2017-10-10'], dtype='datetime64[ns]', freq=None)

In [ ]:
Mydata = pd.to_datetime([datetime(2020,7,3), '4th of feb, 2018', '2015-Jul-06', '20150722' ])
Mydata

DatetimeIndex(['2020-07-03', '2018-02-04', '2015-07-06', '2015-07-22'], dtype='datetime64[ns]', freq=None)

In [ ]:
data = pd.Series([0,1,2], index=Myindex)
data

2012-12-12    0
2012-10-10    1
2017-10-10    2
dtype: int64

In [ ]:
data['2017']

2017-10-10    2
dtype: int64

The most fundamental of these date/time objects are the ``Timestamp`` and ``DatetimeIndex`` objects.
While these class objects can be invoked directly, it is more common to use the ``pd.to_datetime()`` function, which can parse a wide variety of formats.
Passing a single date to ``pd.to_datetime()`` yields a ``Timestamp``; passing a series of dates by default yields a ``DatetimeIndex``:

### Regular sequences: ``pd.date_range()``

In [ ]:
Mydata = pd.to_datetime([datetime(2020,7,3), '4th of feb, 2018', '2015-Jul-06', '20150722' ])
Mydata

DatetimeIndex(['2020-07-03', '2018-02-04', '2015-07-06', '2015-07-22'], dtype='datetime64[ns]', freq=None)

In [ ]:
A=Mydata.to_period('M')

In [ ]:
A == '2015-Jul-06'

array([False, False,  True,  True])

In [ ]:
Mydata

DatetimeIndex(['2020-07-03', '2018-02-04', '2015-07-06', '2015-07-22'], dtype='datetime64[ns]', freq=None)

In [ ]:
DF = pd.DataFrame(Mydata)
DF

           0
0 2020-07-03
1 2018-02-04
2 2015-07-06
3 2015-07-22

In [ ]:
pd.period_range('2019-07-01', periods=15, freq='D')

PeriodIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
             '2019-07-05', '2019-07-06', '2019-07-07', '2019-07-08',
             '2019-07-09', '2019-07-10', '2019-07-11', '2019-07-12',
             '2019-07-13', '2019-07-14', '2019-07-15'],
            dtype='period[D]', freq='D')

## Frequencies and Offsets


Fundamental to these Pandas time series tools is the concept of a frequency or date offset.
Just as we saw the ``D`` (day) and ``H`` (hour) codes above, we can use such codes to specify any desired frequency spacing.
The following table summarizes the main codes available:

| Code   | Description         | Code   | Description          |
|--------|---------------------|--------|----------------------|
| ``D``  | Calendar day        | ``B``  | Business day         |
| ``W``  | Weekly              |        |                      |
| ``M``  | Month end           | ``BM`` | Business month end   |
| ``Q``  | Quarter end         | ``BQ`` | Business quarter end |
| ``A``  | Year end            | ``BA`` | Business year end    |
| ``H``  | Hours               | ``BH`` | Business hours       |
| ``T``  | Minutes             |        |                      |
| ``S``  | Seconds             |        |                      |
| ``L``  | Milliseonds         |        |                      |
| ``U``  | Microseconds        |        |                      |
| ``N``  | nanoseconds         |        |                      |

The monthly, quarterly, and annual frequencies are all marked at the end of the specified period.
By adding an ``S`` suffix to any of these, they instead will be marked at the beginning:

| Code    | Description            || Code    | Description            |
|---------|------------------------||---------|------------------------|
| ``MS``  | Month start            ||``BMS``  | Business month start   |
| ``QS``  | Quarter start          ||``BQS``  | Business quarter start |
| ``AS``  | Year start             ||``BAS``  | Business year start    |

Additionally, you can change the month used to mark any quarterly or annual code by adding a three-letter month code as a suffix:

- ``Q-JAN``, ``BQ-FEB``, ``QS-MAR``, ``BQS-APR``, etc.
- ``A-JAN``, ``BA-FEB``, ``AS-MAR``, ``BAS-APR``, etc.

In the same way, the split-point of the weekly frequency can be modified by adding a three-letter weekday code:

- ``W-SUN``, ``W-MON``, ``W-TUE``, ``W-WED``, etc.

On top of this, codes can be combined with numbers to specify other frequencies.
For example, for a frequency of 2 hours 30 minutes, we can combine the hour (``H``) and minute (``T``) codes as follows:

In [ ]:
pd.timedelta_range(0,periods=12, freq="2H30T")

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00',
                '0 days 22:30:00', '1 days 01:00:00', '1 days 03:30:00'],
               dtype='timedelta64[ns]', freq='150T')

In [ ]:
from pandas.tseries.offsets import BDay

In [ ]:
pd.date_range('2015-07-01', periods=12, freq='B')

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-13', '2015-07-14', '2015-07-15', '2015-07-16'],
              dtype='datetime64[ns]', freq='B')

## Resampling, Shifting, and Windowing

In [ ]:
from pandas_datareader import data
goog = data.DataReader('YAHOO', start='2004', end='2020',
                       data_source='yahoo')
goog.head()

In [ ]:
import yfinance as yf

In [ ]:
import yfinance as yf

In [ ]:
! pip install yfinance

In [ ]:
import yfinance as yf
df = yf.download('MSFT', start = '2012-01-01', end='2020-01-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df

                  Open        High  ...   Adj Close    Volume
Date                                ...
2012-01-03   26.549999   26.959999  ...   21.749044  64731500
2012-01-04   26.820000   27.469999  ...   22.260885  80516100
2012-01-05   27.379999   27.730000  ...   22.488358  56081400
2012-01-06   27.530001   28.190001  ...   22.837715  99455500
2012-01-09   28.049999   28.100000  ...   22.537107  59706800
...                ...         ...  ...         ...       ...
2019-12-24  157.479996  157.710007  ...  155.014450   8989200
2019-12-26  157.559998  158.729996  ...  156.285065  14520600
2019-12-27  159.449997  159.550003  ...  156.570709  18412800
2019-12-30  158.990005  159.020004  ...  155.221313  16348400
2019-12-31  156.770004  157.770004  ...  155.329636  18369400

[2012 rows x 6 columns]

In [ ]:
weekly = df.resample('W').sum()
weekly

                  Open        High  ...   Adj Close     Volume
Date                                ...
2012-01-08  108.279999  110.349998  ...   89.336002  300784500
2012-01-15  139.210001  140.500000  ...  113.376125  294870500
2012-01-22  113.689999  115.230000  ...   92.878242  377212300
2012-01-29  147.150000  148.400002  ...  119.721289  280303600
2012-02-05  148.459999  149.940001  ...  121.232441  263158900
...                ...         ...  ...         ...        ...
2019-12-08  750.480011  753.629990  ...  739.111069  103331700
2019-12-15  758.549988  764.300003  ...  750.507172  100477600
2019-12-22  776.210007  781.350006  ...  766.020447  152135400
2019-12-29  632.609985  634.110001  ...  622.914261   59640800
2020-01-05  315.760010  316.790009  ...  310.550949   34717800

[418 rows x 6 columns]

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn; seaborn.set()

In [ ]:
d = pd.DataFrame({"animal": ["dog", 'cat'], "age": [10, 20]})
d

  animal  age
0    dog   10
1    cat   20

In [ ]:
d.age

0    10
1    20
Name: age, dtype: int64

In [ ]:
pd.eval('Double_age = d.age *2', target=d)

  animal  age  Double_age
0    dog   10          20
1    cat   20          40

In [ ]:
pd.eval('Diff = df.Close - df.Open ', target=df)

                  Open        High         Low  ...   Adj Close    Volume      Diff
Date                                            ...
2012-01-03   26.549999   26.959999   26.389999  ...   21.749044  64731500  0.220001
2012-01-04   26.820000   27.469999   26.780001  ...   22.260885  80516100  0.580000
2012-01-05   27.379999   27.730000   27.290001  ...   22.488358  56081400  0.300001
2012-01-06   27.530001   28.190001   27.530001  ...   22.837715  99455500  0.580000
2012-01-09   28.049999   28.100000   27.719999  ...   22.537107  59706800 -0.309999
...                ...         ...         ...  ...         ...       ...       ...
2019-12-24  157.479996  157.710007  157.119995  ...  155.014450   8989200 -0.099991
2019-12-26  157.559998  158.729996  157.399994  ...  156.285065  14520600  1.110001
2019-12-27  159.449997  159.550003  158.220001  ...  156.570709  18412800 -0.489990
2019-12-30  158.990005  159.020004  156.729996  ...  155.221313  16348400 -1.400009
2019-12-31  156.770004  157.770004  156.449997  ...  155.329636  18369400  0.929993

[2012 rows x 7 columns]